<fieldset>
    <legend>Edit Character</legend>
<!-- NAME -->
<div class="form-group">
    <label for="character-name">Name</label><br>
    <input class="form-control"id="character-name" type="text" name="name" value="{{character.name}}" />
</div>

<!-- EPISODE -->
<div class="form-group">
    <label for="character-episode">Episode</label><br>
    <input class="form-control"id="character-episode" type="text" name="episode" value="{{character.episode}}" />
</div>

<!-- ORIGIN -->
<div class="form-group">
    <label for="character-origin">Origin</label><br>
    <textarea class="form-control"id="character-origin" name="origin" rows="10" />{{character.origin}}</textarea>
</div>
</fieldset>