<fieldset>
    <legend>Edit Character</legend>
<!-- NAME -->
<p>
    <label for="character-name">Name</label><br>
    <input id="character-name" type="text" name="name" value="{{character.name}}" />
</p>

<!-- EPISODE -->
<p>
    <label for="character-episode">Episode</label><br>
    <input id="character-episode" type="text" name="episode" value="{{character.episode}}" />
</p>

<!-- ORIGIN -->
<p>
    <label for="character-origin">Origin</label><br>
    <textarea id="character-origin" name="origin" rows="10" />{{character.origin}}</textarea>
</p>
</fieldset>