<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Rick and Morty Characters </title>
</head>

<body>

<div class="header">  
<h1>Characters</h1>
</div>

<p><a href="/character/new">Add Character</a></p>

<div class="characters">
{{#each character}}
<h2><a href="/character/{{this._id}}">{{this.name}}</a></h2>
<small>{{this.episode}}</small>
{{/each}}
</div>

</body>
</html>