

<div class="header">  
<h1>Characters</h1>
</div>

<p><a href="/character/new">Add Character</a></p>

<div class="characters">
{{#each character}}
<a href="/character/{{this._id}}">{{this.name}}</a>
<small>{{this.episode}}</small>
<small>{{this.origin}}</small>
{{/each}}
</div>

